:root {
    --primary-color: navy;
    --secondary-color: pink;
    --tertiary-color: lightblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    padding: 20px 40px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* end styles to <header> */

/* start hero section */
.herobanner {
    height: 75vh;
    background-image: url(../images/IMG_1592.JPG);
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.herobanner__text {
    color: white;
    padding: 1.5em;
}
/* end hero section */

.section {
    display: flex;
    width: 100%;
    flex-basis: content;
    margin-top: 20px;
}

.section__title {
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 20px;
    margin-right: 31px;
    margin-left: 93px;
    font-size: xx-large;
    border-right: var(--primary-color) solid;
}

.aboutme {
    margin-top: 20px;
    margin-bottom: 0px;
}

.aboutme__p {
    margin-top: 20px;
    margin-right: 2vh;
    margin-left: 2vh;
}

.work {
    padding: 0 33px 20px 0;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.container__item {
    height: 300px;
    width: 47%;
    margin: 0 0 22px 0;
    background-position: center;
    opacity: 0.5;
    background-size: cover;
    border: var(--primary-color) solid 10px;
}
.container__item:hover {
    background-color: var(--tertiary-color);
    opacity: 0.8;
} 

.container__title {
    background-color: var(--primary-color);
    width: 35%;
    height: 20%;
    align-items: center;
    color: white;
    opacity: none;
}

.picture-1 {
    height: 500px;
    width: 100%;
    background-image: url(../images/IMG_0301.JPG);
    margin: 20px;
}

.picture-2 {
    background-image: url(../images/IMG_2023.JPG);
    margin: 0 22px 22px 0;
}

.picture-3 {
    background-image: url(../images/IMG_2169.JPG);
}

.picture-4 {
    background-image: url(../images/IMG_2200.JPG);
    margin: 0 22px 22px 0;
}

.picture-5 {
    background-image: url(../images/runbuddyimg.png);
}

/* start footer style */
footer {
    display: flex;
    align-items: right;
    margin-bottom: 40px;
}

.contactme {
    margin-left: 60px;
    padding-right: 1px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
}
/*end footer style */
